<!DOCTYPE html>
<html>

<body id="home-body">
<!-- <section id=home-banner-section>
<div class="home-body">
  <div class="row">
   <div class="col s6"> <img src="https://cdn.dribbble.com/users/10958/screenshots/4377627/dog_1.gif" class="home_banner"> </div>
   <div class="col s6"><h3 id="homebanner-text">The best peer to peer dog <br>walking app <br> <button id="home-button" type="button">Start Now!</button></h3></div>
  </div>
  <div class="button-home">
  </section>

  <button class="home-cta-button">

    <form style="display: inline" action="http://example.com/" method="get">
  <button>Visit Website</button>
</form> -->

</div>

  <section>

  <div class="home-body">


  <div class="row">
    <div class="col s6"><img src="https://cdn.dribbble.com/users/10958/screenshots/4377627/dog_1.gif" id="home-gif">
    </div>
  <div class="col s6"><h3 id="homebanner-text">The best peer to peer dog <br>walking app <br> <a href="/users/new" class="button">Join Now</a></h3></div>
  </div>
  </section>

<section class="inline-container-what-we-do">
  <div class="row">


      <div class="col s4">
        <h4 class="h4-inline">Join</h4><br>
        <img src="https://www.shareicon.net/download/2016/09/30/837686_animal_512x512.png" class="avatar-dog-inline">
        <p class= "inline-p-style">
        Sign up.<br>Join our community <br>of awesome peer to peer dog walkers.
        </p>
      </div>
      <div class="col s4">
        <h4 class="h4-inline">Gain/Spend DogeCoins</h4><br>
        <img src="https://cdn.iconscout.com/icon/free/png-256/dogecoin-441958.png" class="avatar-dog-inline"><p class="inline-p-style">
        Gain dogecoins when you walk a dog. <br> Use dogecoins to book walks for your dog. <br>Never pay a dog-walker again!
        </p>
      </div>
      <div class="col s4">
        <h4 class="h4-inline">Fun Fun Fun</h4><br>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51TxXo0RLgL.png" class="avatar-dog-inline">
        <p class="inline-p-style">
        Meet new dogs! <br>Have fun. <br> Never pay for a dog walk again.
        </p>
      </div>

    </div>

</section>





</body>
</html>
