<!DOCTYPE html>
<html>

<body id="home-body">
<!-- <section id=home-banner-section>
<div class="home-body">
  <div class="row">
   <div class="col s6"> <img src="https://cdn.dribbble.com/users/10958/screenshots/4377627/dog_1.gif" class="home_banner"> </div>
   <div class="col s6"><h3 id="homebanner-text">The best peer to peer dog <br>walking app <br> <button id="home-button" type="button">Start Now!</button></h3></div>
  </div>
  <div class="button-home">
  </section>

  <button class="home-cta-button">

    <form style="display: inline" action="http://example.com/" method="get">
  <button>Visit Website</button>
</form> -->

</div>

  <section>

  <div class="home-body">


  <div class="row">
    <div class="col s6"><img src="https://cdn.dribbble.com/users/10958/screenshots/4377627/dog_1.gif" id="home-gif">
    </div>
  <div class="col s6"><h3 id="homebanner-text">The best peer to peer dog <br>walking app <br> <a href="/users/new" class="button">Sign up</a></h3></div>
  </div>
  </section>



</body>
</html>
