/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";

.brand-logo {
  position: absolute;
  left:50px;
  top:0;
  padding: 10px;
}

.page-footer {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 10px;
}

.show_title {
  background-color: #E58356;
  height: 200px;
}

.user_info {
  height: 200px;
  padding-bottom: 20px;
}

#username-home{
  color: #F4F3F6;
  text-align: center;
  position: bottom;
  padding-top: 25px;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -100px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.avatar-dog {
  vertical-align: left;
  width: 100px;
  height: 100px;
  border-radius: 0%;
  display: block;
  /* margin-left: auto;
  margin-right: auto */
}

.avatar-dog-inline {
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.inline-p-style{
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #2D3E73;
  padding-left: 40px;
  padding-right: 40px;
}

.h4-inline {
  text-align: center;
  color: #2D3E73;
  font-weight: 600;
}


h1 {
  color: #2d3e73
}

/* h2 {
  color: #2d3e73
}

h3 {
  color: #2d3e73
} */

/* li {
  color: #2d3e73;
  font-size: 14px;
  padding-bottom: 5px;

} */

#h4-side-user-info{
  color: #F4F3F6;
}

.user_address {
  color: #F4F3F6;
  font-weight: 100;
  line-height: 25px;
}
.user_dob {
  color: #F4F3F6;
  font-weight: 100;
  line-height: 25px;
}
.token_balance{
  color: #F4F3F6;
  font-weight: 100;
  line-height: 25px;
}

.dogs {
  color: #F4F3F6
}

.stats-side-user {
  color: #F4F3F6;
  font-weight: 100;
  line-height: 25px;
}


body {
  background-color: white;
}

.filter-open-appointments{

width: 160px;
position: sticky;
top: 0;
margin-left: -200px;
background-color: #white;
padding-top: 50px;
padding-left: 20px;
padding-bottom: 20px;

}

.open-margin{
  margin-top: -390px;
}

/* .min-height {
min-height: 400px;
} */

/* .home-page{
min-height: 400px;
} */

.home_banner {
position: absolute;
z-index: -1;
left: 0px;

}

#homebanner-text{
  color: #F4F3F6;
  z-index: 2;
  text-align: center;
  padding-top: 150px;
  padding-left: 60px;
  min-height: 553px;
  font-weight: 600;
}

.home-body{
  background-color: #E58356;
  width: 100vw;

  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

}

#home-body {
  background-color: #2D3E73;
}

.nav-wrapper {
  background-color: #2D3E73 !important;
}

.page-footer{
  background: #2D3E73;
}

.button{
  background-color: #2D3E73;
   border: none;
   color: white;
   font-weight: 100;
   padding: 5px 80px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 18px;
   margin: 35px 2px 0px 0px;
   border-radius: 6px;
   cursor: pointer;
}
.button:hover {background-color: #63C4DE}

.home-cta-button{
  position: relative;
  background-color: #FFFFFF;
  padding: 25px;
  padding-left: 25px;
  left: 85%;
}

#home-gif {
  margin-left: -10px;
  margin-bottom: -5px;
}

/******LAYOUT*********/
.layout-body {
  background-color: #F4F3F6;
}

.button-style {
  background-color: #E58356
}

.profile-left-color {
  background-color: #2D3E73;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.img-card {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.icon-coin {
  /* vertical-align: middle; */
  width: 25px;
  height: 25px;
  float: left;
  /* border-radius: 50%;
  margin-top: -100px;
  display: block;
  margin-left: auto;
  margin-right: auto */
}

.icon-coin-side {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

  .coin-header {
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -90px;
    margin-left: -20px;
    display: block;
    /* margin-left: auto;
    margin-right: auto */
  }

  .balance-header {
    float: right;
    margin-top: -10px;
    display: block;
    margin-right: -50px;
    display: block;
    font-weight: bold;
  }

.inline-container-what-we-do {
  background-color: #F4F3F6;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -20px;
}

.inline-container-transactions {
  background-color: #D57557;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -20px;
}

#h3-reviews {
  font-size: 15px;
  font-weight: 600;
}

.card-panel{
  background-color: #2D3E73;
  padding-left: 25px;
  padding-top: 5px;
  height: 130px;
}

.review-card {
  color: #F4F3F6;
}

#right {
  overflow: auto;
  height: 100%;
  padding-left: 10px;
  max-height:100%;
}

#review-button {
  float: right;
  margin-top: -70px;
}

/* .button{
  background-color: #63C4DE;
} */
